

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Hello, Welcome to TuitionWala!</h1>
      <p></p>
      <p class="tuition">TuitionWala explains an amazing platform application through which students from different locations can access tuition information and take admissions.Using this system time for application process will be reduced and students who are located geographically can fill admissions forms.Cost of traveling for students will be reduced, man power for tuition point identification will be reduced.</p>
      <p>
        <!-- <a class="btn btn-dark btn-lg" role="button">Learn more</a> -->
      </p>
    </div>
</div>
</body>
